/*
    Banner
*/

.banner-added {
    padding-top: 60px;
}

.banner {
    width: 100%;
    display: block;
    padding: 15px 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    background-color: $blue;
    &:hover {
        color: #FFF;
    }
    &.fixed {
        position: fixed;
        top: 0;
        z-index: 2000;
    }
}
