.form {
    margin-top: 20px;
    margin-bottom: 20px;
    &--signup {
        @media (min-width: $screen-sm-min) {
            width: 80%;
        }
    }
    .alert {
        display: none;
        &--active {
            display: block;
        }
    }
}

.form-inline {
    input {
        margin-right: 10px;
    }
}
