<footer class="light-grey">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <img class="footer-logo" src="img/logo-red.png"/>
                <p>
                    Hosting done easy.
                </p>
                <!-- <p>
                    Design by
                    <a href="">SB:MKTG</a>
                </p> -->
            </div>
            <!-- <div class="col-md-3">
                <h4>
                    Product
                </h4>
                <div class="block-list">
                    <a class="block-list__item" href="/pricing/">Pricing</a>
                    <a class="block-list__item" href="/features/">Features</a>
                </div>
            </div>
            <div class="col-md-3">
                <h4>
                    Company
                </h4>
                <div class="block-list">
                    <a class="block-list__item" href="/about/">About us</a>
                    <a class="block-list__item" href="/blog/">Blog</a>
                </div>
            </div> -->

        </div>
    </div>
</footer>

<script src="../js/vendor/jquery.min.js"></script>
<script src="../js/vendor/bootstrap.min.js"></script>
<script src="../js/figroll/form.js"></script>
<script src="../js/figroll/app.js"></script>

<script>
    if (window.location.hostname !== "localhost") {

        /*
            ADD GOOGLE ANALYTICS
        */

        /*
            ADD DISQUS
        */
    }
</script>

</body>

</html>
