{{ partial "header.html" . }}

<div class="masthead section ">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-7">
                <h1 class="masthead__header">
                    <strong>PHP Hosting.</strong>
                </h1>
                <p class="masthead__paragraph">
                    Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.
                </p>
                <button class="btn btn--light">Discover more</button>
            </div>
        </div>
    </div>
</div>

<div class="section ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-center text-center">
                <h2>Pulse CMS</h2>
                <p>
                    Pebbl is proud to be partnered with <a href="">Pulse.</a>
                </p>
                <a class="btn btn-default" href="">Get Pulse</a>
            </div>
        </div>
    </div>
</div>

<div class="section light-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Why Pebbl?</h2>
                Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor.
            </div>
            <div class="col-md-4">
                <h2>Why Pebbl?</h2>
                Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor.
            </div>
            <div class="col-md-4">
                <h2>Why Pebbl?</h2>
                Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor.
            </div>
        </div>
    </div>
</div>





<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Inceptos Dapibus</h2>
                <p>
                    Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                </p>
                <a class="btn btn-default" href="">dolor</a>
            </div>
            <div class="col-md-6">
                <h2>Inceptos Dapibus</h2>
                <p>
                    Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                </p>
                <a class="btn btn-default" href="">dolor</a>
            </div>
        </div>
    </div>
</div>


{{ partial "footer.html" . }}
